<%
	var pages = {
		deposit: 'Dep.',
		withdraw: 'Wit.',
		tally: 'Tly.',
		stocklist: 'Sto.',
		more:{
			label: 'Mor.',
			subMenu: {
				initialize: 'Initialize',
				items: 'Items',
				log: 'Log',
				logout: 'Logout',
			}
		}
	};
	
	function isAdminPage(pages,activePage){
		for ( var page in pages ) {
			if ( page === activePage ) {
				pages[page].active == true;
				return true;
			}

			if ( !pages[page].subMenu ) continue;

			for ( var subpage in pages[page].subMenu ) {
				if ( subpage === activePage ) {
					pages[page].active == true;
					return true;
				}
			}
		}

		return false;
	}

	if ( !isAdminPage(pages,activePage) ) return;
%>
<div class="row" style="margin-top: 18px;">
	<div class="span12">
		<ul class="nav nav-tabs">
			<% for ( var page in pages ) { %>
				<% if ( pages[page].subMenu ) { %>
					<li class="dropdown <%= (pages[page].active == page?'active':'') %>">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<%= pages[page].label %>
							<b class="caret"></b>
						</a> 
						<ul class="dropdown-menu">
							<% for ( var subpage in pages[page].subMenu ) { %>
								<li class="<%= (activePage == subpage?'active':'') %>">
									<a href="/<%= subpage %>"><%= pages[page].subMenu[subpage] %></a>
								</li>
							<% } %>
						</ul>
					</li>
				<% } else { %>
					<li class="<%= (pages[page].active?'active':'') %>">
						<a href="/<%= page %>"><%= pages[page] %></a>
					</li>
				<% } %>
			<% } %>
		</ul>
	</div>
</div>